RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://agnesjewelry.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agnesjewelry.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agnesjewelry.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agnesjewelry.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerbrotherkemang.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerbrotherkemang.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerbrotherkemang.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerbrotherkemang.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbrother.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbrother.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://glasshousejakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://glasshousejakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://glasshousejakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://glasshousejakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kenjirojakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kenjirojakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kenjirojakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kenjirojakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narajakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narajakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neighbourhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neighbourhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neighbourhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neighbourhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tangroup.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tangroup.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tanskin.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tanskin.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agnesjewelry.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agnesjewelry.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agnesjewelry.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agnesjewelry.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerbrotherkemang.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerbrotherkemang.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerbrotherkemang.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerbrotherkemang.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbrother.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbrother.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.glasshousejakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.glasshousejakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.glasshousejakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.glasshousejakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kenjirojakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kenjirojakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kenjirojakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kenjirojakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narajakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narajakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neighbourhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neighbourhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neighbourhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neighbourhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tangroup.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tangroup.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tanskin.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tanskin.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agnesjewelry.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agnesjewelry.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agnesjewelry.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agnesjewelry.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beerbrotherkemang.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beerbrotherkemang.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beerbrotherkemang.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beerbrotherkemang.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bigbrother.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bigbrother.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://glasshousejakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://glasshousejakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://glasshousejakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://glasshousejakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kenjirojakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kenjirojakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kenjirojakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kenjirojakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narajakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narajakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neighbourhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neighbourhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neighbourhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neighbourhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tangroup.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tangroup.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tanskin.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tanskin.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thebrotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thebrotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thebrotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thebrotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agnesjewelry.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agnesjewelry.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agnesjewelry.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agnesjewelry.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beerbrotherkemang.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beerbrotherkemang.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beerbrotherkemang.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beerbrotherkemang.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bigbrother.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bigbrother.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.bigbrother.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.bigbrother.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.glasshousejakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.glasshousejakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.glasshousejakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.glasshousejakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kenjirojakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kenjirojakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kenjirojakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kenjirojakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narajakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narajakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narajakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narajakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neighbourhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neighbourhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neighbourhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neighbourhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tangroup.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tangroup.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tangroup.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tangroup.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tanskin.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tanskin.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tanskin.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tanskin.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thebrotherhoodjakarta.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thebrotherhoodjakarta.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thebrotherhoodjakarta.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thebrotherhoodjakarta.triagungnusantara.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.triagungnusantara.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.triagungnusantara.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

